*.csv
*.pkl
# Ignore Python compiled files
*.pyc
*.pyo
*.py
*.joblib
*.h5
*.txt

# Ignore Python cache directories
__pycache__/

# Ignore virtual environments
venv/
.env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Ignore VS Code settings
.vscode/

# Ignore temp folder
temp/


# Ignore output files
cleaned_data.csv
Data-Preprocessing/tfidf_encoded_data.pkl
group-1-main.code-workspace


abbreviations.py