*.csv
# Ignore Python compiled files
*.pyc
*.pyo
# Ignore Python cache directories
__pycache__/
 
# Ignore virtual environments
venv/
.env/
 
# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
 
# Ignore VS Code settings
.vscode/
 
# Ignore output files
